*
{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

body
{
    background: linear-gradient(to right, #0B132B, #3A506B);
}

.header
{
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    background-color: rgba(255, 255, 255, 0.1);
    font-style: italic;
}

h1
{
    color: bisque;
}

.holder
{
    text-align: center;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board
{
    width: 90%;
    height: 90%;
    border: 5px solid bisque;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.imagem-holder
{
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    border-right: 3px solid bisque;
}

.imagem
{
    width: 100%;
    height: 100%;
    z-index: 5;
}

.dialogos-holder
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70%;
    height: 25%;
    z-index: 10;
    border-top: 3px solid bisque;
    background-color: rgba(255, 255, 255, 0.2);
}

.dialogos
{
    color: red;
    padding: 10px;
    text-align: left;
    font-size: 1.3rem;
    font-weight: bolder;
}

.logs-chat
{
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 90%;
    border-bottom: 3px solid bisque;
    overflow: scroll;
}

.logs
{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1rem;
    text-align: left;
}

.input-area
{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.input-jogador
{
    text-align: center;
    color: bisque;
    width: 70%;
    height: 60%;
    margin: 10px;
    font-size: 1rem;
    font-weight: bold;
    align-self: left;
    background-color: rgba(0, 0, 0, 0.3);
}

.enviar
{
    right: 0;
    bottom: 0;
    color: bisque;
    width: 20%;
    height: 60%;
    align-self: center;
    background-color: #333;
    border-radius: 10px;
    box-shadow:  4px 2px 0 rgba(0, 0, 0, 0.3);
}

.enviar:hover
{
    background-color: #fff;
    color: black;
}

.intro-screen
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.img-logo
{
    height: 100%;
    width: 100%;
}

.iniciar
{
    position: absolute;
    left: 47%;
    top: 70%;
    padding: 10px;
    background-color: transparent;
    color: bisque;
    border-radius: 10px;
    background-color: #333;
    font-weight: bold;
}

.iniciar:hover
{
    background-color: #fff;
    color: black;
}

.gameover-screen
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.game-over-logo
{
    height: 100%;
    width: 100%;
    z-index: 200;
}

.btn-refresh
{
    position: absolute;
    left: 47%;
    top: 60%;
    padding: 20px;
    background-color: transparent;
    color: bisque;
    font-size: 1.2rem;
    border-radius: 20px;
    background-color: #333;
    font-weight: bold;
}

.btn-refresh:hover
{
    background-color: #fff;
    color: black;
}

.vida-holder
{
    position: absolute;
    width: 70%;
    height: 75%;
    z-index: 20;
}

.vidas-imagem
{
    position: absolute;
    left: 0;
    top: 0;
    width: 10%;
    margin: 10px;
    z-index: 20;
}



.esta-visivel
{
    visibility: visible;
}

.esta-invisivel
{
    visibility: hidden;
}